{% extends "base/base.html" %}
{% load static %}

{% block title %}MedCloud - Gallery{% endblock %}

{% block body %}

    

    <div class="row">
        <h2 class="mb-3">Galeria da Clínica Médica</h1>
        <div class="col">
            <img src="{% static 'images/gallery/clinica1.jpg' %}"/>
        </div>
        <div class="col">
            <img src="{% static 'images/gallery/clinica2.jpg' %}"/>
        </div>
        <div class="col">
            <img src="{% static 'images/gallery/clinica3.jpg' %}"/>
        </div>
        <div class="col">
            <img src="{% static 'images/gallery/clinica4.jpg' %}"/>
        </div>
    </div>

{% endblock %}