{% extends "base/base.html" %}

{% block title %}MedCloud -Listagem de Agendamentos{% endblock %}

{% block body %}

    <h1>Listagem de Agendamentos</h1>

    <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Hora</th>
            <th scope="col">Especialidade</th>
            <th scope="col">Doctor</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone</th>
          </tr>
        </thead>
        <tbody>
            {% for consulta in object_list %}
          <tr>
            <th scope="row">{{ consulta.date|date:"d/m/y" }}</th>
            <td>{{ consulta.time }}:00</td>
            <td>{{ consulta.specialty }}</td>
            <td>{{ consulta.doctor }}</td>
            <td>{{ consulta.nome }}</td>
            <td>{{ consulta.email }}</td>
            <td>{{ consulta.phone }}</td>
          </tr>
          {% empty %}
          <tr>
            <th colspan="7">
            <p>Não tem consultas marcadas</p>
            </th>
         </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}