{% extends "base/base.html" %}

{% block title %}MedCloud - Home{% endblock %}

{% block body %}
    <div style="text-align: justify;">
        <h2>Clinica Médica</h2>
        <div class="shadow my-2 p-3">
            <h3 >Descrição</h3>
            <p>Clínica de atendimento médico nas áreas de (áreas cadastradas) com suporte online para agendamento e visualização de consultas para clientes e áreas reservada para funcionários</p>
        </div>
        <div class="shadow my-2 p-3">
            <h3 >Missão</h3>
            <p >Promover a saúde e bom atendimento à toda a população, com integridade e comprometimento com pacientes oferecendo excelência em todos os atendimentos. A MedClound coloca o paciente em primeiro lugar, se preocupando com seu bem estar e auxiliando desde o agendamento da consulta ao final de tratamento, oferecendo médicos renomados para atendimento.</p>
        </div>
        <div class="shadow my-2 p-3">
            <h3 >Valores</h3>
            <p>Os valores que compõem toda a equipe da MedClound é confiança, integridade, excelência e estima dos pacientes, valorizando todos os funcionários para que ofereçam só o melhor aos pacientes</p>
        </div>
    </div>

{% endblock %}